<div class="form-container">
    <h1 class="form-title">CREAR USUARIO</h1>
    <form (ngSubmit)="validar()" [formGroup]="formRegistro">
        <div class="form-group">
            <input type="text" class="form-control" id="groupName" placeholder="Primer nombre"
                formControlName="primer_nom">
            <input type="text" class="form-control" id="groupName" placeholder="Segundo nombre"
                formControlName="segundo_nom">
            <input type="text" class="form-control" id="groupName" placeholder="Primer apellido"
                formControlName="primer_apellido">
            <input type="text" class="form-control" id="groupName" placeholder="Segundo apellido"
                formControlName="segundo_apellido">
            <select class="form-control" id="groupCards" formControlName="fk_id_tipodoc">
                <option value="1">Cedula de ciudadania</option>
                <option value="2">Tarjeta de identidad</option>
                <option value="3">Cédula de Extranjería</option>
                <option value="4">PEP</option>
                <option value="5">Permiso por Protección Temporal</option>
            </select>
            <input type="text" class="form-control" id="groupName" placeholder="Numero de documento"
                formControlName="numerodoc">
            <input type="text" class="form-control" id="groupName" placeholder="Correo electrónico"
                formControlName="correo">
            <input type="text" class="form-control" id="groupName" placeholder="Nombre de usuario"
                formControlName="nombre_usuario">
            <input type="text" class="form-control" id="groupName" placeholder="Contraseña"
                formControlName="contrasena">
            <!-- <input type="text" class="form-control" id="groupName" placeholder="Confirmar contraseña"
                formControlName="confirmar"> -->
        </div>
        <select class="form-control" id="groupCards" formControlName="fk_id_rol">
            <option value="1">Instructor</option>
            <option value="2">Aprendiz</option>
            <option value="3">Administrador</option>
        </select>
        <div class="form-group">
            <select class="form-control" id="groupCards" formControlName="id_fichas">
                @for (f of fichas; track f) {
                    <option [value]="f.id_ficha">{{f.id_ficha}}</option> 
                }
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-create">Crear</button>
            <button (click)="cancelar()" type="button" class="btn btn-cancel">Cancelar</button>
        </div>
    </form>
</div>