#perfil-box {
  display: flex;
  width: 100%;
  height: 70vh;
  margin: auto;
  flex-wrap: wrap;
  flex-direction: column;
  direction: ltr;
}

#datos-box {
  width: 100%;
  height: 54%;
  display: flex;
  flex-direction: column;
  padding: 3vh;

  .info {
    width: 100%;
    height: 9vh;
    display: flex;
    font-size: 16px;
    align-items: center;
    i {
      font-size: xxx-large;
      margin-right: 2vh;
    }
  }
}

#imagen-box {
  width: 100%;
  height: 40%;
  display: flex;
  border-bottom: 1px solid black;
}

#user {
  height: 23vh;
  width: 23vh;
  object-fit: cover;
  border-radius: 50%;
  margin: 3%;
}

button {
  margin: 5px;
  position: center;
  border-radius: 10px;
}

#text {
  width: 52vh;
  padding: 3% 1%;
  #nombre-usuario {
    margin-top: 1rem;
    font-size: 22px;
    font-weight: bold;
  }
  #ficha {
    font-size: 15px;
    text-wrap: balance;
    margin-bottom: 0.8rem;
  }
  #descripcion {
    font-size: 14px;
    text-wrap: balance;
  }
}

#liveToast {
  direction: ltr;
  #toastImg {
    height: 20px;
  }
}
