<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contraseña</title>
    <link rel="stylesheet" href="contrasena.component.css">
</head>

<body>
    <div class="login-box">
        <form method="POST" action="">
            <img
                src="https://github.com/JhoanDucu/Sena-Chat-Angular-/blob/main/Sena-Chat/Frontend/src/assets/img/Logo-sesion.png?raw=true">
            <div class="container">
                <h1>¿Olvidó su contraseña?</h1>
                <br>
                <h5>Por favor, ingrese su correo electrónico</h5>
                <input type="email" name="email" required>
            </div>
            <div class="botones">
                <button type="submit" name="submit" class="Siguiente">Enviar</button>
                <button type="submit" name="submit" class="Volver" [routerLink]="['/login']"
                    routerLinkActive="buttonactive"> Volver</button>
            </div>
        </form>
    </div>
</body>

</html>