html {
  height: 100%;
  position: relative;
}

body {
  height: 100%;
  margin: 0;
  position: relative;
  padding: 0;
  font-family: sans-serif;
  background: #0e882d;
  border: 0;
}

.login-box {
  display: grid;
}

.login-box {
  position: absolute;
  align-items: center;
  top: 50%;
  margin-top: 20%;
  left: 50%;
  width: 600px;
  height: 400px;
  padding: 17px;
  transform: translate(-50%, -50%);
  background-color: #ebebeb;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.login-box img {
  margin-top: 1rem;
  width: 10rem;
  margin-bottom: 1rem;
}

button[type="submit"] {
  width: 25%;
  padding: 15px;
  transition: 0.5s;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background: transparent;
  letter-spacing: 1px;
  font-weight: 900;
  margin-top: 3%;
  margin-right: 10%;
}

button:hover {
  background: #237023;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #3a813a, 0 0 25px #3a813a, 0 0 50px #3a813a,
    0 0 100px #3a813a;
}

.Volver:hover {
  background: #c54848;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #813a3a, 0 0 25px #813a3a, 0 0 50px #813a3a,
    0 0 100px #813a3a;
}

input[type="email"] {
  width: 300px;
  padding-left: 10px;
  box-sizing: border-box;
  border-color: #117311;
  border-radius: 7px;
}

.Siguiente {
  margin-left: 20%;
}

.container {
  text-align: center;
}
