<div class="Botones">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active position-relative" id="grupos-tab" data-bs-toggle="tab"
                data-bs-target="#grupos" type="button" role="tab" aria-controls="grupos" aria-selected="false"
                [disabled]="enBusqueda" (click)="mostrarTab('grupos')">
                <i [ngClass]="tabs.grupos.new ? 'bx bxs-chat bx-tada' : 'bx bxs-chat'"></i>
                @if(tabs.grupos.new){<span></span>}
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="privados-tab" data-bs-toggle="tab" data-bs-target="#privados" type="button"
                role="tab" aria-controls="privados" aria-selected="false" [disabled]="enBusqueda"
                (click)="mostrarTab('privados')">
                <i [ngClass]="tabs.privados.new ? 'bx bxs-message bx-tada' : 'bx bxs-message'"></i>
                @if(tabs.privados.new){<span></span>}
            </button>
        </li>
        @if (Sesion.get('rol') == '1') {
        <li class="nav-item" role="presentation">
            <button class="nav-link" type="button" (click)="abrir()" [disabled]="enBusqueda">
                <i class='bx bxs-conversation'></i>
            </button>
        </li>
        }
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="ajustes-tab" data-bs-toggle="tab" data-bs-target="#ajustes" type="button"
                role="tab" aria-controls="ajustes" aria-selected="false" [disabled]="enBusqueda"
                (click)="mostrarTab('ajustes')">
                <i [ngClass]="tabs.ajustes.new ? 'bx bxs-message-square-dots bx-tada':'bx bxs-message-square-dots'"></i>
                @if(tabs.ajustes.new){<span></span>}
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="dontk-tab" data-bs-toggle="tab" data-bs-target="#salir" type="button"
                role="tab" aria-controls="contact" aria-selected="false" [disabled]="enBusqueda">
                <i [ngClass]="tabs.ajustes.new ? 'bx bxs-cog bx-tada' : 'bx bxs-cog'"></i>
                @if(tabs.ajustes.new){<span></span>}
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button"
                role="tab" aria-controls="contact" aria-selected="false" [disabled]="enBusqueda">
                <i [ngClass]="tabs.ajustes.new ? 'bx bxs-help-circle bx-tada' : 'bx bxs-help-circle'"></i>
                @if(tabs.ajustes.new){<span></span>}
            </button>
        </li>
        <div id="foto-perfil">
            <button class="nav-link" id="perfil-tab" data-bs-toggle="tab" data-bs-target="#perfil" type="button"
                role="tab" aria-controls="perfil" aria-selected="false" [disabled]="enBusqueda"
                (click)="mostrarTab('perfil')">
                @if (usuario.foto) {<img [src]="'../../../assets/img/'+usuario.foto">}
                @else {<img src="../../../assets/img/perfil3.jpg">}
            </button>
        </div>
    </ul>
</div>

<app-buscador [buscando]="enBusqueda" [itemsDeBusqueda]="{Grupos: datos.grupos, Privados: datos.privados}"
    (buscar)="mostrarBusqueda($event)" (seleccion)="seleccionarEnGrupos($event[0], $event[1], $event[2])">
</app-buscador>

@if (!enBusqueda) {
<div class="tab-content" id="myTabContent">
    <div [ngClass]="tabs.grupos.class ? 'tab-pane fade show active' : 'tab-pane fade'" id="grupos" role="tabpanel"
        aria-labelledby="grupos">
        <div class="tab" role="tablist">
            <div class="list-group" id="list-tab" role="tablist">
                <app-grupos-titulo [titulo]="'Grupos'"></app-grupos-titulo>
                @for ( g of datos.grupos; track g.id_grupos) {
                <app-grupo (click)="seleccionarEnGrupos(g.id_grupos, $index, 'grupos')"
                    [active]="picked.g == g.id_grupos ? true : false" [grupo]="g" [tiempo]="tiene(g, 'fecha_hora')"
                    [reciente]="tiene(g, 'contenido_mensaje')" (moverGrupo)="cambiarPosicion($index, 'grupos')">
                </app-grupo>
                } @empty {
                    <h4 id="tituloAviso">No hay grupos por mostrar...</h4>
                    <div class="aviso">
                        <div class="espacioIcono"><i class='bx bx-error' ></i></div>
                        <div class="espacioTexto">
                            <h4>Aviso!</h4>
                            <p>No se te ha asignado una ficha</p>
                            <button>Más información</button>
                        </div>
                        <!-- @if (usuario.id_fichas == '0000000') {
                        <span>Pida a su instructor que lo incluyan en una ficha</span>
                        
                        } -->
                    </div>
                }
            </div>
        </div>
    </div>

    <div [ngClass]="tabs.privados.class ? 'tab-pane fade show active' : 'tab-pane fade'" id="privados" role="tabpanel"
        aria-labelledby="privados">
        <div class="tab" id="privados" role="tablist">
            <div class="list-group" id="list-tab" role="tablist">
                <app-grupos-titulo [titulo]="'Privados'"></app-grupos-titulo>
                @for (p of datos.privados; track p.id_grupos) {
                <app-grupo (click)="seleccionarEnGrupos(p.id_grupos, $index, 'privados')"
                    [active]="picked.g == p.id_grupos ? true : false" [grupo]="p" [tiempo]="tiene(p, 'fecha_hora')"
                    [reciente]="tiene(p, 'contenido_mensaje')" (moverGrupo)="cambiarPosicion($index, 'privados')">
                </app-grupo>
                } @empty {
                    <h1>A trabajar</h1>
                }
            </div>
        </div>
    </div>
    <div [ngClass]="tabs.perfil.class ? 'tab-pane fade show active' : 'tab-pane fade'" id="perfil" role="tabpanel"
        aria-labelledby="perfil">
        <app-grupos-titulo [titulo]="'Mi Perfil'"></app-grupos-titulo>
        <app-mi-perfil [perfil]="usuario"></app-mi-perfil>
    </div>
    <app-grupos-panel></app-grupos-panel>
</div>
}