<div class="contenedor-padre">
    @for (f of fichas; track f) {
    <!-- Tus contenedores aquí -->
    <div class="contenedor">
        <div class="header">
            <h5 class="idFicha">Numero de ficha: <span>{{f.id_ficha}}</span></h5>
        </div>
        <div>
            <p class="NameFicha">Programa: <span>{{f.programa_formacion}}</span> </p>
            <p class="cantGrupos">Cantidad de grupos: <span>{{f.cantidad_grupos}}</span> </p>
        </div>
        <br>
        <button class="btn-editar">Editar</button>
        <button class="btn-eliminar">Eliminar</button>
    </div>
    }
</div>