<div class="contenedor-padre">
    @for (f of fichas; track f) {
    <div class="contenedor">
        <div class="header">
            <h5 class="idFicha">Num. Ficha: <span>{{f.id_ficha}}</span></h5>
        </div>
        <div>
            <!-- <p class="NameFicha">Programa: <span>{{f.nombre_programa}}</span> </p> -->
            <p class="cantGrupos">Cantidad de grupos: <span>{{f.cantidad_grupos}}</span> </p>
        </div>
        <button class="boton info" type="button" (click)="abrirInfo(f)">Más Información</button>
        <button class="boton editar" (click)="mostrar.emit(['editarFicha', f.id_ficha])">Editar</button>
        <button class="boton eliminar" (click)="abrirModal(f.id_ficha, $index)">Eliminar</button>
    </div>
    }
</div>