@if(mostrar){
    <app-crear-ficha (mostrar)="mostrarCrear()"></app-crear-ficha>
}@else{
    <div class="search-container" style="position: absolute; top: 20px; right: 20px;">
        <input class="form-control" type="search" placeholder="Busca">
        <i class="bi bi-search" style="position: absolute; right: 10px; top: 7px;"></i>
    </div>
    
    <button (click)="mostrarCrear()" class="btn-crear" style="position: absolute; top: 20px; left: 20px;">Crear nuevo</button>

    <div class="contenedor-padre">
        <!-- Tus contenedores aquí -->
        <div class="contenedor">
            <div class="header">
                <h5 class="idFicha">Numero de ficha: <span>123424212312</span></h5>
            </div>
            <div>
                <p class="NameFicha">Nombre: <span>Análisis y desarrollo de software</span> </p>
                <p class="cantGrupos">Cantidad de grupos: <span>30</span> </p>
            </div>
            <br>
            <button class="btn-editar">Editar</button>
            <button class="btn-eliminar">Eliminar</button>
        </div>
    </div>
}
