.contenedor-padre {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}

.contenedor {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background: rgba(99, 183, 97, 0.6);
  width: calc((100% / 3) - 2%);
  flex: 0 0 auto;
  margin: 1.6vh;
  padding: 2%;
  border-radius: 20px;
  border: 2px solid #4e4e4e;
  font-family: "Josefin Sans", sans-serif;
}

.header {
  display: flex;
  align-items: center;
}

.imagen {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.nameUser {
  margin-left: 10px;
}

.name {
  margin-top: 5px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

span {
  font-weight: normal;
}

.parrafos {
  display: flex;
  flex-direction: column;
}

.parrafo {
  font-weight: bold;
  margin-bottom: 1%;
}

.boton {
  font-family: "Josefin Sans", sans-serif;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 500;
  font-size: 1em;
  margin: 4px auto;
  cursor: pointer;
  border-radius: 12px;
  width: 80%;
  border: 1px solid rgb(23, 23, 23);
}

.info {
  background-color: #c9b47b;
}

.editar {
  background-color: #7bc4c9;
}

.eliminar {
  background-color: #c9847b;
}

.eliminar:hover {
  background-color: #f77c6c;
}

.editar:hover {
  background-color: #30b2b9;
}

.info:hover {
  background-color: #debd63;
}
