@if(mostrar){
    <app-crear-mensaje (mostrar)="mostrarCrear()"></app-crear-mensaje>
}@else{
    <div class="search-container" style="position: absolute; top: 20px; right: 20px;">
    <input class="form-control" type="search" placeholder="Busca">
<i class="bi bi-search" style="position: absolute; right: 10px; top: 7px;"></i>
</div>

<button (click)="mostrarCrear()" class="btn-crear" style="position: absolute; top: 20px; left: 20px;">Crear nuevo</button>

<div class="contenedor-padre">
    <!-- Tus contenedores aquí -->
    <div class="contenedor">
        <div class="header">
            <h5 class="idMensaje">ID del mensaje: <span>121322434234</span></h5>
        </div>
        <div class="parrafos">
            <p class="contenidoMensaje">Contenido del mensaje: <span>Mensaje de ejemplo</span></p>
            <p class="fechaHoraEnvio">Fecha/Hora del envío: <span>2022-01-01 12:00:00</span></p>
            <p class="ubicacion">Ubicación: <span>Ubicación de ejemplo</span></p>
            <p class="tipoMensaje">Tipo de mensaje: <span>Tipo de ejemplo</span></p>
        </div>
        <button class="btn-info" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Más Información</button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasRightLabel">Información adicional</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                Aquí estará la información adicional del mensaje
            </div>
        </div>
        <button class="btn-editar">Editar</button>
        <button class="btn-eliminar">Eliminar</button>
    </div>
</div>
}

