.img-grupo {
  display: flex;
  width: 100%;
  justify-content: center;
  img {
    width: 50vh;
    height: 50vh;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 3vh;
  }
}

.miembro {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.miembro-imagen {
  width: 15%;
  height: 15%;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.miembro-info {
  display: flex;
  flex-direction: column;
  width: 72%;
}

.miembro-nombre {
  font-weight: bold;
  margin-bottom: 1%;
}

.miembro-detalle {
  font-size: 0.9em;
  color: #666;
  margin: 0;
}

.boton {
  border: none;
  background: none;
  font-size: x-large;
  border-radius: 50%;
}

.boton:hover {
  color: white;
  background-color: #0e882d;
}

.eliminar:hover {
  background-color: #f77c6c;
  .btn-eliminar {
    color: white;
  }
}

.btn-eliminar {
  width: 100%;
  background: transparent;
  color: red;
  border: none;
}

.detalles:hover {
  background-color: #debd63;
  .btn-detalles {
    color: white;
  }
}

.btn-detalles {
  width: 100%;
  background: transparent;
  color: #c9b47b;
  border: none;
}

.info-boton {
  border: 0.1px solid gray;
  margin: 0 1vh;
  border-radius: 2vh;
  padding: 0.6rem 1rem;
  width: 46%;
  margin-bottom: 3vh;
}

.info-boton:hover {
  background-color: lightgray;
}