<div class="offcanvas offcanvas-end" tabindex="-1" id="grupos" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">Información adicional</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        @if (grupo) {
        <div class="img-grupo"><img [src]="url+grupo.foto_grupo"></div>
        <h3>{{grupo.nom_grupos}}</h3>
        <p>{{grupo.descripcion_grupos}}</p>
        <p> <strong>Ficha: </strong><span>{{grupo.id_ficha}}</span></p>
        <p> <strong>Num. Miembros: </strong><span>{{grupo.num_usuarios}}</span></p>
        <h4>Miembros: </h4>
        <button class="info-boton" (click)="consultar(2)">Agregar aprendiz</button>
        <button class="info-boton" (click)="consultar(1)">Agregar Instructor</button>

        @if (faltantes) {
        @for (f of faltantes; track f.numerodoc) {
        <div class="miembro">
            <img [src]="url+f.foto" alt="Imagen del miembro" class="miembro-imagen">
            <div class="miembro-info">
                <p class="miembro-nombre">
                    {{f.primer_nom}} {{f.segundo_nom}} {{f.primer_apellido}} {{f.segundo_apellido}}
                </p>
                <p class="miembro-detalle"> {{rol.nombre(f.fk_id_rol)}} </p>
            </div>
            <button class="boton" (click)="agregar(f.numerodoc)"><i class='bx bxs-user-plus'></i></button>
        </div>
        } @empty { <p>No hay miembros para añadir</p> }
        }

        @for (m of miembros; track m.numerodoc) {
        <div class="miembro">
            <img [src]="url+m.foto" alt="Imagen del miembro" class="miembro-imagen">
            <div class="miembro-info">
                <p class="miembro-nombre">
                    {{m.primer_nom}} {{m.segundo_nom}} {{m.primer_apellido}} {{m.segundo_apellido}}
                </p>
                <p class="miembro-detalle"> {{rol.nombre(m.fk_id_rol)}} </p>
                @if (detalles === m.numerodoc) {
                <p class="miembro-detalle"> <strong>Documento: </strong> {{m.numerodoc}} </p>
                <p class="miembro-detalle"> <strong>En el grupo desde: </strong> {{ conversion(m.fecha_union) }} </p>
                <p class="miembro-detalle"> <strong>Mensajes enviados: </strong> {{ m.num_mensajes }} </p>
                }
            </div>
            <div class="btn-group dropup">
                <button class="boton" type="button" [id]="m.numerodoc" data-bs-toggle="dropdown" aria-expanded="false"
                    (click)="abrirDrop(m.numerodoc)">
                    <i class='bx bx-dots-vertical-rounded'></i>
                </button>
                <ul class="dropdown-menu" [attr.aria-labelledby]="m.numerodoc">
                    <li class="detalles">
                        <button class="btn-detalles" (click)="abrirDetalles(m.numerodoc)">
                            @if (detalles === m.numerodoc) { Ocultar detalles } @else { Detalles }
                        </button>
                    </li>
                    <li class="eliminar">
                        <button class="btn-eliminar" (click)="eliminar(m.id_usuarios_grupos)">Eliminar</button>
                    </li>
                </ul>
            </div>
        </div>
        } @empty { <p> {{aviso}} </p> }
        }
    </div>
</div>