#buscarGrupos {
  padding: 0;
  margin: 0% 4%;
  margin-bottom: 1vh;
  border: 1px solid;
  width: 92%;
  height: 45px;
  border-radius: 10px;
  .form-control {
    border: none;
    border-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  #addon-wrapping {
    border: none;
    border-radius: 0;
    border-top-left-radius: 25%;
    width: 12%;
    border-bottom-left-radius: 25%;
    background-color: white;
  }
  .input-group-text {
    justify-content: flex-end;
  }
  .form-control:focus {
    box-shadow: none;
  }
  label {
    font-size: large;
  }
  button {
    font-size: 22px;
  }
}

#myTabContent {
  padding: 0;
}

.subtitulo {
  font-size: larger;
  font-weight: bold;
  padding: 1.5% 4%;
}

.grupos,
.privados {
  overflow-y: auto;
  max-height: 77vh;
}

.grupos::-webkit-scrollbar {
  width: 5px;
}

.grupos::-webkit-scrollbar-thumb {
  background: #0e882d;
  border-radius: 5px;
}

