<div class="contenedor-padre">
    @for (g of grupos; track g.id_grupos) {
    <div class="contenedor">
        <div class="header">
            <img [src]="url+g.foto_grupo" alt="Imagen del grupos" class="imagen">
            <h2 class="titulo">{{g.nom_grupos}}</h2>
        </div>
        <p class="texto-completo">{{g.descripcion_grupos}}</p>
        <div class="parrafos">
            <p class="parrafo">Num. Miembros: <span>{{g.num_usuarios}}</span></p>
            <p class="parrafo">Ficha: <span>{{g.id_ficha}}</span></p>
        </div>
        <button class="boton info" type="button" (click)="abrirInfo(g)">Más Información</button>
        <button class="boton editar" (click)="mostrar.emit(['editarGrupo', g.id_grupos])">Editar</button>
        <button class="boton eliminar">Eliminar</button>
    </div>
    }
</div>