@if (grupoSeleccionado) {
<nav class="container navbar bg-body-tertiary" id="cabeceraChat">
    <div id="info-basica">
        <img [src]="'../../../assets/img/'+grupoSeleccionado.foto_grupo" id="img-grupo" />
        <span id="nombre-grupo">{{ grupoSeleccionado.nom_grupos }}</span>
    </div>
    <div id="botones-grupo">
        <button id="info-boton">
            <i class='bx bx-calendar-alt'></i>
        </button>
        <button id="info-boton">
            <i class='bx bx-search-alt-2 bx-flip-horizontal'></i>
        </button>
        <button id="info-boton" (click)="abrirInformacion()">
            <i class='bx bx-dots-horizontal-rounded'></i>
        </button>
    </div>
</nav>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Informacion del grupo</h5>
        <button id="cerrarEditar" (click)="cerrar()"><i class='bx bx-right-arrow-alt'></i></button>
    </div>
    <div class="offcanvas-body">
        <!-- <div class="">
            <div class="d-flex justify-content-center">
                <img src="../../assets/img/User-elim.png" class="img-thumbnail" alt="Eliminar" />
            </div>
        </div> -->
        <div id="presentacion">
            <div class="flex-shrink-0">
                <img [src]="'../../assets/img/'+grupoSeleccionado.foto_grupo" id="imagenGrupo" alt="Agregar" />
            </div>
            <div class="d-flex flex-column bd-highlight">
                <div id="nomGrupo">{{ grupoSeleccionado.nom_grupos }}</div>
                <div id="descripcion">{{ grupoSeleccionado.descripcion_grupos }}</div>
            </div>
            <div id="botonesGrupo">
                @if (Sesion.get('rol') == '1') {
                <button type="button" class="opcionGrupo" (click)="abrirAgregar()">
                    <i class='bx bxs-user-plus'></i><br>Agregar
                </button>
                <button type="button" class="opcionGrupo">
                    <i class='bx bxs-user-minus'></i><br>Eliminar
                </button>
                <button type="button" class="opcionGrupo">
                    <i class='bx bxs-message-edit'></i><br>Editar
                </button>
                } @else {
                <button type="button" class="opcionGrupo">
                    <i class='bx bxs-message-detail'></i><br>Detalles
                </button>
                }
                <button type="button" class="opcionGrupo">
                    <i class='bx bx-angry'></i><br>Reportar
                </button>
            </div>
        </div>
        <div class="list-group" (mouseleave)="notHover()">
            <p id="numeroMiembros">Miembros {{ '('+ miembros.length+')'}}</p>
            @for (m of miembros; track m.numerodoc) {
            <button class="list-group-item list-group-item-action" aria-current="true" (mouseenter)="hover(m.numerodoc)"
                (click)="consultarPerfil(m.numerodoc)">
                <img [src]="'../../../assets/img/' + m.foto" class="fotoUsuario">
                <span class="resumenUsuario">
                    <h5 class="nomUsuario">
                        {{ m.primer_nom }} {{ m.segundo_nom }} {{ m.primer_apellido }} {{ m.segundo_apellido }}
                        @if (m.numerodoc == Sesion.get('documento')) { (tu) }
                    </h5>
                    <p class="descUsuario">{{ m.descripcion }}</p>
                    <small class="">{{m.fk_id_rol == '2' ? 'Aprendiz' : 'Instructor'}}</small>
                </span>
                @if (mostrarDropdown == m.numerodoc) {
                <small class="position-absolute top-50 end-0 translate-middle-y">
                    <div class="btn-group dropup">
                        <button type="button" class="btn dropdown" data-bs-toggle="dropdown" aria-expanded="false"
                            [id]="id" (click)="abrirDrop($event)">
                            <i class='bx bx-dots-vertical-rounded'></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end" [attr.aria-labelledby]="id">
                            <li><button class="dropdown-item" type="button">Action</button></li>
                            <li><button class="dropdown-item" type="button">Enviar Mensaje</button></li>
                            <li><button class="dropdown-item" type="button">Eliminar del grupo</button></li>
                        </ul>
                    </div>
                </small>
                }
            </button>
            }
        </div>
    </div>
</div>
<app-info-agregar></app-info-agregar>
<!-- <app-info-eliminar></app-info-eliminar> -->
<app-info-perfil [usuario]="usuarioConsultado"></app-info-perfil>
}