<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">
                    Mensajes a varias fichas 😊
                </h5>
                <button type="button" class="btn-close" (click)="cerrar()"></button>
            </div>
            <form (ngSubmit)="emitirEnvios(mensajes.value)" [formGroup]="mensajes">
                <div class="modal-body">
                    <p>Seleccione las fichas a las que se enviara el mensaje:</p>
                    @for (g of grupos; track g.id_grupos) {
                    <ul class="list-group mb-3" id="escoger">
                        <li class="list-group-item">
                            <label for="{{g.id_grupos}}">{{g.nom_grupos}}</label>
                            <input class="form-check-input variasFichas align-middle" id="{{g.id_grupos}}"
                                type="checkbox" value="{{g.id_grupos}}" formControlName="variasFichas"
                                (click)="check($event.target)">
                        </li>
                    </ul>
                    }
                </div>
                <div class="modal-footer container">
                    <div class="row row-cols-1">
                        <!-- @if (this.checked) {
                        <div class="col mb-3">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated w-75"
                                    role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                    75%</div>
                            </div>
                        </div>
                        } -->
                        <div class="col input-group">
                            <textarea type="text" placeholder="Escribe el mensaje..." [id]="idInput"
                                formControlName="mensajeFichas" (keyup)="inputSize($event)"
                                class="mensajesFichas"></textarea>
                            <label for="mensajeFichas">
                                <button type="submit" class="btn btn-primary">
                                    <i class="bx bxs-send" id="iconoEnviar"></i>
                                </button>
                            </label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>