<div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
    <div class="offcanvas-header">
        <!-- <h5 class="offcanvas-title" id="offcanvasBottomLabel">Offcanvas bottom</h5> -->
        <!-- <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button> -->
    </div>
    <div class="offcanvas-body small">
        <div id="confirmar">
            <span id="titulo">¿DESEA CERRAR SESION?</span>
            <button class="btn btn-outline-primary m-2" (click)="cerrarSesion()">SI</button>
            <button class="btn btn-outline-danger m-2" data-bs-dismiss="offcanvas" aria-label="Close">NO</button>
        </div>
    </div>
</div>