<div class="titulo-container">
  <span>{{ titulo }}</span>
  @if (titulo == 'Mi Perfil') {
  <a></a>
  <a><i class='bx bx-hide'></i></a>
  <a (click)="editarPerfil()"><i class='bx bx-edit-alt'></i></a>
  <!-- <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Toggle right offcanvas</button> -->
  <!-- <a><i class='bx bx-lock'></i></a> -->
  } @else {
  @if (titulo == 'Grupos') {<a><i class='bx bx-message-add'></i></a>}
  @else {<a><i class='bx bx-plus-circle'></i></a>}
  <a><i class='bx bx-bell'></i></a>
  <a><i class='bx bx-edit'></i></a>
  }
</div>