#offcanvasRight {
  width: 62%;
}

#offcanvasRightLabel {
  margin: 0;
}

.offcanvas-header {
  justify-content: end;
  #btn {
    margin-right: auto;
    padding: 0.5% 2vh;
  }
}

#cerrarEditar {
  font-size: 20px;
  border: none;
  background: none;
}

#presentacion {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  #imagenPerfil {
    height: 100%;
    border-radius: 50%;
  }
  #inputTitulo {
    width: min-content;
    font-size: xxx-large;
    text-align: center;
    padding: 0;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
  }
  #nombreUsuario {
    font-size: xxx-large;
  }
}

#informacion {
  display: flex;
  flex-direction: column;
  margin: 5vh;
  font-size: x-large;
  strong {
    margin-right: 4vh;
  }
  #sinE {
    margin: 0 1vh;
    text-wrap: balance;
  }
  #conE {
    margin: 0 1vh;
    width: 85%;
  }
  .inputEditar {
    border: none;
    outline: none;
    border-bottom: 1.5px solid black;
    width: 85%;
    resize: none;
  }
  .info-container {
    display: flex;
    align-items: center;
    margin-bottom: 3%;
  }
  textarea {
    height: 20vh;
  }
}

.botonTitulo {
  border: none;
  background: none;
  font-size: 25px;
}

.up {
  display: flex;
  align-self: normal;
}

#labelCambiarImg {
  cursor: pointer;
  width: 68vh;
  height: 68vh;
  display: flex;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  color: white;
  i {
    font-size: 2rem;
    margin-left: 0.5rem;
    align-self: center;
  }
}

#spanCambiarImg {
  display: flex;
  width: 68vh;
  height: 68vh;
  border-radius: 50%;
  font-size: x-large;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s;
  opacity: 0;
}

#spanCambiarImg:hover {
  opacity: 1;
}

#toastImg {
  height: 20px;
}
