<form (ngSubmit)="emitirEnvio(form.value)" [formGroup]="form">
  @if (archivos.length) {
  <app-mensajes-imagen [imagenes]="archivos" (cerrarImagenes)="cerrar()">
  </app-mensajes-imagen>
  }
  <div class="contenedor-form">
    <div class="input-group">
      <input type="text" class="form-control custom-text-input" placeholder="Escribe tu mensaje..."
        id="contenido_mensaje" formControlName="contenido_mensaje" autocomplete="off" (keyup)="longitud()" />
      <label for="file" id="labelArchivo">
        <i class='bx bxs-add-to-queue' id="iconoArchivo"></i>
        <input type="file" id="file" class="upload-file" hidden (change)="obtenerArchivo($event.target)" 
        multiple formControlName="archivo" />
      </label>
      <button class="btn btn-success" type="submit" id="enviar" [disabled]="noEnviar">
        <i class="bx bxs-send" id="iconoEnviar"></i>
      </button>
    </div>
  </div>
</form>