.form-container {
    background-color: #D0D0D0;
    padding: 20px;
    width: 50%;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid gray;
}

.form-title {
    font-weight: bolder;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(81, 81, 81);
    font-size: 2em;
}

.form-group {
    margin-bottom: 1em;
}

.form-group label {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    font-size: 1.2em;
}

.form-group .form-control {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    font-size: 1.2em;
    border: 1px solid gray;
}

.form-group .input-group input[type="file"] {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    font-size: 1.2em;
    border: 1px solid gray;
}

.btn {
    margin-right: 1em;
    display: block;
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    font-size: 1.2em;
    border: 1px solid gray;
}

.btn-create {
    background-color: #7DC97B;
    color: rgb(0, 0, 0);
}

.btn-cancel {
    background-color: #C9847B;
    color: rgb(0, 0, 0);
}