body {
  font-family: sans-serif;
}

.Bienv-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50rem;
  padding: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  transform: translate(-50%, -50%);
  background-color: #ebebeb;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  text-align: center;
}

.Bienv-box h1 {
  margin: 0 0 30px;
  padding: 0;
  color: #117311;
  text-align: center;
}

.Bienv-box img {
  width: 190px;
}

.user-box select:focus {
  border-color: #237023;
  box-shadow: 0 0 5px rgba(81, 173, 68, 0.5);
}

.user-box select option {
  background-color: #70b470;
}

#c0 {
  display: flex;
  align-items: center;
}

#c0 h1 {
  margin: 0;
  margin-left: 13%;
}

span {
  color: rgb(5, 80, 5);
}

.ir {
  position: relative;
  font-weight: bold;
  display: inline-block;
  padding: 20px 20px;
  color: #000;
  font-size: 16px;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 20px;
  letter-spacing: 4px;
  background: transparent;
  border: none;
}

.ir:hover {
  background: #237023;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #3a813a, 0 0 25px #3a813a, 0 0 50px #3a813a,
    0 0 100px #3a813a;
}

.Cont {
  cursor: pointer;
  text-shadow: 0 0 9px #000000;
}

.user-box select {
  padding-right: 35px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  outline: none;
}

@media (min-width: 576px) and (max-width: 991.98px) and (orientation: portrait) {
  body img {
    padding-top: 10%;
    padding-left: 35%;
  }
  .Bienv-box {
    width: 28rem;
  }
}

/*landscape (no usamos)*/
@media (min0-width: 991.98px) and (max-width: 1199.98px) and (orientation: landscape) {
}
/*fin tablet*/

/*Para movil*/
/*Portrait*/
/*Default*/
@media (max-width: 575.98px) and (orientation: portrait) {
  body img {
    padding-top: 5rem;
    padding-left: 4rem;
  }
  .Bienv-box {
    width: 22rem;
  }
}
/*landscape*/
@media (min-width: 576px) and (max-width: 991.98px) and (orientation: landscape) {
  body img {
    padding-top: 5rem;
    padding-left: 5rem;
  }
}
