<div class="Bienv-box">
  <div id="c0">
    <img
      src="https://github.com/JhoanDucu/Sena-Chat-Angular-/blob/main/Sena-Chat/Frontend/src/assets/img/Logo-sesion.png?raw=true" />
    <h1>Bienvenido</h1>
  </div>
  <div>
    <br />
    <h5>
      Le damos la Bienvenida a <span> SENA CHAT </span>Seleccione el numero de
      ficha al cual pertenece.
    </h5>
  </div>
  <br />
  <form id="fichas" #data="ngForm" (ngSubmit)="setFicha(data.value.Ficha)">
    <div class="user-box">
      <div>
        <label>Ficha:</label>
        <select name="Ficha" required ngModel>
          <option value="0"></option>
          <option value="2558101">2558101</option>
          <option value="2558102">2558102</option>
          <option value="2558103">2558103</option>
          <option value="2558104">2558104</option>
          <option value="2558105">2558105</option>
        </select>
      </div>
    </div>
    <br />
    <div>
      <input type="submit" value="Entrar" class="ir" name="Entrar" />
    </div>
  </form>
</div>