<div class="form-container">
    <h2 class="form-title">Crear Ficha</h2>
    <form (ngSubmit)="validar()" [formGroup]="formFicha">
        <div class="form-group">
            <label for="idFicha">Numero de ficha</label>
            <input type="text" class="form-control" id="idFicha" formControlName="id_ficha" [placeholder]="ficha">
        </div>
        <div class="form-group">
            <label for="NameFicha">Programa</label>
            <select class="form-control" id="NameFicha" formControlName="fk_programa">
                @for (p of programas; track p) {
                <option [value]="p.id_programa">{{p.nombre_programa}}</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="NameFicha">Trimestre</label>
            <select class="form-control" id="NameFicha" formControlName="trimestre">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-create">Crear Ficha</button>
            <br>
            <button (click)="cancelar()" type="button" class="btn btn-cancel">Cancelar</button>
        </div>
    </form>
</div>