.form-container {
    background-color: #D0D0D0;
    padding: 20px;
    width: 50%;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid gray;
    margin-bottom: 5%;
}

.form-title {
    font-weight:bolder;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(81, 81, 81);
    font-size: 2em;
}

.form-group {
    margin-bottom: 1em;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.btn {
    margin-right: 1em;
    display: block;
    width: 100%;
}

.btn-create {
    font-family: 'Josefin Sans', sans-serif;
    font-weight:500;
    font-size: 1.2em;
    background-color: #7DC97B;
    color: rgb(0, 0, 0);
    border: 1px solid gray;
}

.btn-cancel {
    font-family: 'Josefin Sans', sans-serif;
    font-weight:500;
    font-size: 1.2em;
    background-color: #C9847B;
    color: rgb(0, 0, 0);
    border: 1px solid gray;
}

.form-group span{
    font-family: 'Josefin Sans', sans-serif;
    font-weight:500;
    font-size: 1.2em;
    margin-left: 10px;
}

/* Estilo para la barra de desplazamiento */
#newGroupDescription::-webkit-scrollbar {
    width: 10px;
}
  
#newGroupDescription::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}
  
#newGroupDescription::-webkit-scrollbar-thumb {
    background: rgb(69, 132, 69); /* Cambia este valor para cambiar el color del scrollbar */
    border-radius: 10px;
}
  
#newGroupDescription::-webkit-scrollbar-thumb:hover {
    background: #555;
}