<div class="form-container">
    <h1 class="form-title">Editar Grupo</h1>
    <p>Grupo seleccionado: <strong>Nombre del Grupo</strong></p>
    <form>
        <div class="form-group">
            <span>Nombre del grupo</span>
            <input type="text" id="newGroupName" name="newGroupName" class="form-control" placeholder="Nombre del nuevo grupo">
        </div>
        <div class="form-group">
            <span>Descripción del grupo</span>
            <textarea id="newGroupDescription" name="newGroupDescription" class="form-control" placeholder="Descripción del nuevo grupo"></textarea>
        </div>
        <div class="form-group">
            <span>Ficha</span>
            <select id="newGroupTag" name="newGroupTag" class="form-control">
                <option selected>Fichas</option>
                <option value="1">232542671</option>
            </select>
        </div>
        <div class="form-group">
            <span>Foto de grupo</span>
            <span>Nueva foto de grupo</span>
            <input type="file" id="newGroupPhoto" name="newGroupPhoto" class="form-control">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-create">Guardar Cambios</button>
            <br>
            <button type="button" class="btn btn-cancel">Cancelar</button>
        </div>
    </form>
</div>