@if (datos.other.cargando) {
    <app-chat-animacion></app-chat-animacion>
} @else {
<div class="container-fluid" id="allPage">
    <div class="row" id="rowPage">
        <div class="column contenedorGrupos">
            <app-grupos [datos]="datos.gruposComponent" [usuario]="datos.datosUsuario" #grupos
                (makeChange)="applyChanges($event)" [changesValue]="datos.other.changes"
                [picked]="{ g: this.Sesion.get('grupos'), p: Sesion.get('pestaña')}">
            </app-grupos>
            <app-perfil-editar [usuario]="datos.datosUsuario" (actualizar)="ajustar($event)"></app-perfil-editar>
            <app-mensajes-varios [grupos]="datos.gruposComponent.grupos"></app-mensajes-varios>
            <app-cerrar-sesion></app-cerrar-sesion>
        </div>
        <div class="column contenedorChat">
            @if(grupoSeleccionado){
                <app-info-grupos [grupoSeleccionado]="grupoElegido"></app-info-grupos>
            <div class="Chat container-fluid">
                <div class="card mensajes-container">
                    <app-mensajes *appChat="datos.other.changes" [mensajes]="grupoElegido.mensajes"
                        [mensajeFinal]="grupoElegido.mensajes[grupoElegido.mensajes.length - 1]">
                    </app-mensajes>
                </div>
                <app-mensajes-enviar (emitir)="enviar($event, grupoSeleccionado)"></app-mensajes-enviar>
            </div>
            }
        </div>
    </div>
</div>
}