<div class="card-body" #componente>
    @for ( m of mensajes; track m.id_mensaje) {
    <div [ngClass]="m.numerodoc == usuario ? 'Propio' : 'Ajeno'">
        <div [ngClass]="m.numerodoc == usuario ? 'mensajesPropios' : 'mensajesAjenos'">
            @if (m.numerodoc != usuario) { <p class="nombreEmisor">~~ {{ m.primer_nom }} </p> }
            @if (m.id_tipo === 1) { <span> {{ m.contenido_mensaje  }} </span> }
            @if (m.id_tipo === 2) {
                <img src="http://localhost:3000/imagenes/1711068755010-IMG-20220327-WA0004.jpg">
            }
            <p [ngClass]="m.numerodoc == usuario ? 'horaPropios' : 'horaAjenos'">
                {{ obtenerHora(m.fecha_hora) }}
            </p>
        </div>
    </div>
    } @empty {
    <div class="Ajeno">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Envia un mensaje!</strong> para comenzar 😁
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    }
</div>