.card-body {
  padding-bottom: 1%;
  overflow-y: auto;
  max-height: 78vh;
  width: 100%;
}

.Propio {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.25rem;
}

.Ajeno {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0.25rem;
}

.mensajesPropios {
  max-width: 55%;
  margin-bottom: 3px;
  background: #3d803d;
  border-radius: 10px 5px 1px 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: end;
  word-wrap: break-word;
  overflow-x: hidden;
  padding: 0.5rem;
  color: #ffffff;
}

.horaPropios {
  margin: 0;
  margin-top: 2%;
  padding: 0;
  font-size: 0.7em;
  text-align: right;
  font-weight: bold;
}

.mensajesAjenos {
  max-width: 55%;
  background: #ffffff;
  margin-bottom: 3px;
  border-radius: 5px 10px 10px 1px;
  padding: 0.5rem;
  color: black;
}

.nombreEmisor {
  margin: 0;
  font-size: 0.8em;
  font-weight: bold;
}

.horaAjenos {
  margin: 0;
  margin-top: 2%;
  font-size: 0.7em;
  font-weight: bold;
  text-align: left;
  color: darkgreen;
  position: relative;
}

span {
  word-wrap: break-word;
  word-break: break-word;
}

.imagen-horizontal {
  max-width: 52%;
  padding: 0.4rem;
  .imagen {
    max-width: 100%;
    height: auto;
    border-radius: 2%;
  }
}

.imagen-cuadrada {
  max-width: 38%;
  max-height: 60vh;
  padding: 0.4rem;
  .imagen {
    width: 100%;
    border-radius: 2%;
    object-fit: cover;
  }
}

.imagen-vertical {
  max-width: 32%;
  max-height: 66vh;
  padding: 0.4rem;
  .imagen {
    width: 100%;
    height: 90%;
    border-radius: 2%;
    object-fit: cover;
  }
}

.boton-scroll {
  position: absolute;
  top: 66vh;
  right: 4vh;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: 1000;
  background: black;
  color: white;
  width: 9vh;
  height: 9vh;
  border-radius: 38%;
  font-size: x-large;
}

.mostrar {
  opacity: 1; /* establece la opacidad a 1 para mostrar el botón */
}