.card-body {
  padding-bottom: 1%;
  overflow-y: auto;
  max-height: 78vh;
  width: 100%;
}

.Propio {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.25rem;
}

.Ajeno {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0.25rem;
}

.mensajesPropios {
  max-width: 55%;
  margin-bottom: 3px;
  background: #3d803d;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 1px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: end;
  word-wrap: break-word;
  overflow-x: hidden;
  padding: 0.5rem;
  color: #ffffff;
}

.horaPropios {
  margin: 0;
  margin-top: 2%;
  padding: 0;
  font-size: 0.7em;
  text-align: right;
  font-weight: bold;
}

.mensajesAjenos {
  max-width: 55%;
  background: #ffffff;
  margin-bottom: 3px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 1px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0.5rem;
  color: black;
}

.nombreEmisor {
  margin: 0;
  font-size: 0.8em;
  font-weight: bold;
}

.horaAjenos {
  margin: 0;
  font-size: 0.7em;
  font-weight: bold;
  text-align: left;
  color: darkgreen;
  position: relative;
  bottom: -3%;
}

span {
  word-wrap: break-word;
  word-break: break-word;
}
