<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <div class="Pantalla Principal">
        <!-- Barra de navegación -->
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid d-flex justify-content-center">
                <a class="navbar-brand position-absolute top-50 start-0 translate-middle-y" >
                    <img src="https://github.com/JhoanDucu/Sena-Chat-Angular-/blob/main/Sena-Chat/Frontend/src/assets/img/Logo-sesion.png?raw=true" alt="Logo" class="logo-img">
                    <span class="ms-3 text-success my-custom-font fw-medium mt-2">ADMIN</span>
                </a>
            </div>
        </nav>

        <!-- Barra lateral -->
        <div class="sidebar">
            
            <!-- Menu -->
            <div class="accordion" id="sidebarAccordion" >   

                <!-- Grupo 1: Grupos -->
                <div class="accordion-item" style="border: none;">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" (click)="seleccionarOpcion('grupo')" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            <i class="bi bi-people"></i> Grupos
                        </button>
                    </h2>
                </div>

                <!-- Grupo 2: Usuarios -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" (click)="seleccionarOpcion('usuario')" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <i class="bi bi-person"></i> Usuarios
                        </button>
                    </h2>
                </div>

                <!-- Grupo 3: Mensajes -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" (click)="seleccionarOpcion('mensaje')" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <i class="bi bi-chat"></i> Mensajes
                        </button>
                    </h2>
                </div>
                
                <!-- Grupo 4: Fichas -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed" type="button" (click)="seleccionarOpcion('ficha')" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            <i class="bi bi-folder"></i> Fichas
                        </button>
                    </h2>
                </div>
            </div>
        </div>

        <!-- Contenido -->
<div class="contenido">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12" style="margin-top: 90px;">

                <!-- Contenido dinámico -->
                <div *ngIf="opcionSeleccionada === 'grupo'">
                    <app-vis-grupos></app-vis-grupos>
                </div>

                <div *ngIf="opcionSeleccionada === 'usuario'">
                    <app-vis-usuario></app-vis-usuario>
                </div>

                <div *ngIf="opcionSeleccionada === 'mensaje'">
                    <app-vis-mensaje></app-vis-mensaje> 
                </div>

                <div *ngIf="opcionSeleccionada === 'crearMensaje'">
                    <app-crear-mensaje></app-crear-mensaje>
                </div>

                <div *ngIf="opcionSeleccionada === 'editarMensaje'">
                    <app-editar-form-mensaje></app-editar-form-mensaje>
                </div>

                <div *ngIf="opcionSeleccionada === 'ficha'">
                    <app-vis-ficha></app-vis-ficha>
                </div>

                <div *ngIf="opcionSeleccionada === 'crearFicha'">
                    <app-crear-ficha></app-crear-ficha>
                </div>

                <div *ngIf="opcionSeleccionada === 'editarFicha'">
                    <app-editar-form-ficha></app-editar-form-ficha>
                </div>

            </div>
        </div>
    </div>
</div>

        
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>