<div id="pantallaPrincipal">
    <!-- Barra de navegación -->
    <div class="cabecera">
        <img src="../../../assets/img/Logo-sesion.png" alt="Logo" class="logo-img">
        <span class="logo-texto">ADMIN</span>
    </div>
    <div class="sidebar-contenido">
        <!-- Barra lateral -->
        <div class="sidebar">
            <!-- Menu -->
            <div class="accordion" id="sidebarAccordion">
                <!-- Grupo 1: Grupos -->
                <div>
                    <button class="accordion-button collapsed" type="button" (click)="seleccionarOpcion('grupos')">
                        <i class='bx bx-group'></i> Grupos
                    </button>
                </div>
                <!-- Grupo 2: Usuarios -->
                <div>
                    <button class="accordion-button collapsed" type="button" (click)="seleccionarOpcion('usuarios')">
                        <i class='bx bx-user'></i> Usuarios
                    </button>
                </div>
                <!-- Grupo 3: Mensajes -->
                <div>
                    <button class="accordion-button collapsed" type="button" (click)="seleccionarOpcion('mensajes')">
                        <i class='bx bx-chat'></i> Mensajes
                    </button>
                </div>
                <!-- Grupo 4: Fichas -->
                <div>
                    <button class="accordion-button collapsed" type="button" (click)="seleccionarOpcion('fichas')">
                        <i class='bx bx-folder'></i> Fichas
                    </button>
                </div>
            </div>
        </div>

        <!-- Contenido -->
        <div class="contenido">
            <!-- Contenido dinámico -->
            <div class="botones">
                @if (!opcion.includes('crear') && !opcion.includes('editar')) {
                <button (click)="mostrar()" class="btn-crear" [disabled]="opcion.includes('mensajes')">
                    Crear nuevo
                </button>
                <div class="search-container">
                    <input class="form-control" type="search" placeholder="Busca">
                    <i class="bi bi-search"></i>
                </div>
                }
            </div>
            @if (opcion === 'grupos') {
            <app-vis-grupos (mostrar)="seleccionarOpcion($event[0], $event[1], $event[2])" />
            }
            @if (opcion === 'usuarios') {
            <app-vis-usuario (mostrar)="seleccionarOpcion($event[0], $event[1], $event[2])" />
            }
            @if (opcion === 'mensajes') {
            <app-vis-mensaje (mostrar)="seleccionarOpcion($event[0], $event[1], $event[2])" />
            }
            @if (opcion === 'fichas') {
            <app-vis-ficha (mostrar)="seleccionarOpcion($event[0], $event[1], $event[2])" />
            }
            @if (opcion === 'crearGrupo') { <app-crear-grupo (volver)="mostrar()" /> }
            @if (opcion === 'crearUsuario') { <app-crear-usuario (volver)="mostrar()" /> }
            @if (opcion === 'crearMensaje') { <app-crear-mensaje (volver)="mostrar()" /> }
            @if (opcion === 'crearFicha') { <app-crear-ficha (volver)="mostrar()" /> }
            @if (opcion === 'editarGrupo') { <app-editar-grupo (volver)="mostrar()" [id_grupo]="id" /> }
            @if (opcion === 'editarUsuario') { <app-editar-usuario (volver)="mostrar()" [numerodoc]="id" /> }
            @if (opcion === 'editarMensaje') { <app-editar-mensaje (volver)="mostrar()" [id_mensaje]="id" /> }
            @if (opcion === 'editarFicha') { <app-editar-ficha (volver)="mostrar()" [id_ficha]="id" /> }

            <app-info-grupos [grupo]="info.grupos"></app-info-grupos>
            <app-info-usuarios [usuario]="info.usuarios"></app-info-usuarios>
            <app-info-mensajes [mensaje]="info.mensajes"
                (mostrar)="seleccionarOpcion($event[0], $event[1])">
            </app-info-mensajes>
            <app-info-fichas [ficha]="info.fichas"></app-info-fichas>
        </div>
    </div>
</div>