#pantallaPrincipal {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.cabecera {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.logo-img {
  width: 10%;
  height: auto;
  margin-left: 1%;
}

.logo-texto {
  font-family: "Josefin Sans", sans-serif;
}

.sidebar-contenido {
  display: flex;
  height: 88.3vh;
}

/* Barra lateral */
.sidebar {
  width: 22%;
  background-color: #4e4e4e;
}

.accordion {
  border: none;
  border-radius: 0;
}

.accordion-button {
  background-color: transparent;
  color: #fff;
  border-bottom: 3px solid #ffffff;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
  font-size: 3vh;
  i {
    font-size: x-large;
    margin: 0 1vh;
  }
}

.accordion-button:not(.collapsed) {
  background-color: #858585;
  border-bottom: 3px solid #ffffff;
}

.accordion-button:hover {
  color: #fff;
  background-color: #858585;
  border-bottom: 3px solid #ffffff;
}

.d-block {
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
  font-weight: normal;
  font-family: "Josefin Sans", sans-serif;
}

.accordion-button:focus {
  color: #fff;
  box-shadow: none;
}

.bi {
  margin-right: 5%;
}

.accordion-button::after {
  background-image: none;
  display: none;
}

.accordion-button,
.accordion-collapse {
  border-radius: 0; /* Quitar el borde redondeado */
}

.d-block {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  font-size: 1em;
  background-color: transparent;
  color: rgb(255, 255, 255);
  border: 1px solid gray;
  border: none;
}

/* CONTENIDO */

.contenido {
  overflow-y: auto;
  width: 78%;
  --bs-gutter-x: 1.5rem;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
}

.contenido::-webkit-scrollbar {
  width: 10px; /* Ajusta este valor para cambiar el ancho del scrollbar */
}

.contenido::-webkit-scrollbar-track {
  background: #f1f1f1; /* Cambia este valor para cambiar el color de la pista del scrollbar */
}

.contenido::-webkit-scrollbar-thumb {
  background: rgb(
    69,
    132,
    69
  ); /* Cambia este valor para cambiar el color del scrollbar */
  border-radius: 5px; /* Ajusta este valor para cambiar el borde redondeado del scrollbar */
}

.botones {
  display: flex;
  align-items: center;
  margin: 3vh 2vh;
}

.search-container {
  margin-left: auto;
}

.search-container .form-control {
  padding-right: 20px; /* Ajusta este valor para dar espacio al ícono de búsqueda */
}

.search-container .bi-search {
  position: absolute;
  right: 10px;
  top: 10px;
}

/* Botón de crear */
.btn-crear {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  font-size: 1.2em;
  border: 1px solid gray;
  background: rgba(99, 183, 97, 0.6);
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border-radius: 5px;
}

.btn-crear:disabled {
  background: rgba(169, 169, 169, 0.6);
  color: rgba(0, 0, 0, 0.5);
  cursor: not-allowed;
}