<div class="form-container">
    <h1 class="form-title">ACTUALIZAR INFORMACIÓN DE USUARIO</h1>
    <p>Usuario seleccionado: <strong>Nombre del usuario</strong></p>

    <form>
        <div class="form-group">
            <span>Primer nombre</span>
            <input type="text" class="form-control" id="groupName" placeholder="juan">
            <br>
            <span>Segundo nombre</span>
            <input type="text" class="form-control" id="groupName" placeholder="david"><br>
            <span>Primer apellido</span>
            <input type="text" class="form-control" id="groupName" placeholder="Cardenas"><br>
            <span>Segundo apellido</span>
            <input type="text" class="form-control" id="groupName" placeholder="Perez"><br>
            <span>Tipo de documento</span>
            <select class="form-control" id="groupCards">
                <option selected>Tipo de documento</option>
                <option value="1">Cédula de ciudadanía</option>
            </select><br>
            <span>Numero de documento</span>
            <input type="text" class="form-control" id="groupName" placeholder="0000000000"><br>
            <span>Correo electrónico</span>
            <input type="text" class="form-control" id="groupName" placeholder="juan@gmail.com"><br>
            <span>Nombre de usuario</span>
            <input type="text" class="form-control" id="groupName" placeholder="juancho"><br>
            <span>Fichas</span>
            <div class="form-group">
                <select class="form-control" id="groupCards">
                    <option selected>Fichas</option>
                    <option value="1">2558104</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-create">Actualizar</button>
            <br>
            <button type="button" class="btn btn-cancel">Cancelar</button>
        </div>
    </form>
</div>