<div class="form-container">
    <h2 class="form-title">Editar Ficha</h2>
    <form>
        <div class="form-group">
            <label for="idFicha">Numero de ficha</label>
            <input type="text" class="form-control" id="idFicha" value="123424212312">
        </div>
        <div class="form-group">
            <label for="NameFicha">Nombre</label>
            <input type="text" class="form-control" id="NameFicha" value="Análisis y desarrollo de software">
        </div>
        <div class="form-group">
            <label for="cantGrupos">Cantidad de grupos</label>
            <input type="number" class="form-control" id="cantGrupos" value="30">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-create">Guardar Cambios</button>
            <br>
            <button type="button" class="btn btn-cancel">Cancelar</button>
        </div>
    </form>
</div>